<a href="https://colab.research.google.com/github/FelipePenaSales/case_picpay/blob/main/Case_PICPAY.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Case de dados PICPAY Banking PJ

## Importando as bibliotecas

In [ ]:
import pandas as pd

## Importando os dados e criando variaveis importantes do código

In [ ]:
df = pd.read_excel("/content/transactions_v5.xlsx", sheet_name="transactions")
#df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 249 entries, 0 to 248
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   client_id                249 non-null    int64
 1   month_date_transaction   249 non-null    int64
 2   registration_month_date  249 non-null    int64
 3   product_type             249 non-null    object
 4   direction                249 non-null    object
 5   client_action            249 non-null    bool
 6   is_approved              249 non-null    bool
 7   total_value              249 non-null    int64
dtypes: bool(2), int64(4), object(2)
memory usage: 12.3+ KB

In [ ]:
# 1) Ver todas as colunas disponíveis
df.columns.tolist()

['client_id',
 'month_date_transaction',
 'registration_month_date',
 'product_type',
 'direction',
 'client_action',
 'is_approved',
 'total_value']

In [ ]:
# 2) Dar uma olhada rápida em alguns valores (ajuda a identificar produto/status/direção)
df.head(3)

,client_id,month_date_transaction,registration_month_date,product_type,direction,client_action,is_approved,total_value
0,6,1,1,CARTAO_DEBITO,OUT,True,True,428
1,3,1,1,CARTAO_DEBITO,OUT,True,True,429
2,10,1,1,CARTAO_DEBITO,OUT,True,True,281

In [ ]:
df.to_csv("transactions_v5.csv", index=False)